.busqueda {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.busqueda input {
  flex: 1;
  max-width: 400px;
}

.tabla-container {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .tabla-container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .tabla-container {
    width: 100%;
  }
}